:root{
    --cor-fundo: #0d0d0e;;
    --cor-principal: #cf1334;
    --cor-secundaria: #ffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--cor-secundaria);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    .container{
        height: 100vh;
        width: 100vw;
        padding: 5vh;
        background-color: var(--cor-fundo);
        text-align: center;
        align-items: center;
        justify-content: space-between;
       
    }

    .conteudo{
        align-items: center;
        justify-content: space-between;
        display:flex;
        padding: 5vw;
    }
    .container-historia{
        background-color: var(--cor-principal);
        width: 45vw;
        height: 60vh;
    }

    .container-skils{
        background-color: transparent;
        height: 60vh;
        width: 50vh;
        margin-right: 5vw;
    }

   

.skil{
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    padding-top: 20px;
    opacity: 0;
    width: 40vh;
    height: 11vh;
    border-radius: 100px;
    transform: translateX(-30%);
    transition: all 0.4s ease;
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
}
.skil1, .skil2, .skil3, .skil4, .skil5{
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

img{
    height: 5vh;
    width: 5vh;
}

.imagem-skil{
    width: 10vh;
    height: 10vh;
    border-radius: 100px;
    padding: 2.5vh;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

/* Faz o texto aparecer  */
.skil1:hover .skil,
.skil2:hover .skil,
.skil3:hover .skil,
.skil4:hover .skil,
.skil5:hover .skil {
    opacity: 1;
    transform: scale(1.1);
    transform: translateX(-25%);
}

/* Aumenta o tamanho da imagem */
.skil1:hover .imagem-skil,
.skil2:hover .imagem-skil,
.skil3:hover .imagem-skil,
.skil4:hover .imagem-skil,
.skil5:hover .imagem-skil {
    transform: scale(1.1);
}



@media (max-width: 768px) {
      .container{
        height: 100%;
        width: 100%;
        padding: 5vh;
        background-color: var(--cor-fundo);
        text-align: center;
        align-items: center;
        justify-content: center;
       
    }

    .conteudo{
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 5vw;
    }
    .container-historia{
        background-color: var(--cor-principal);
        width: 80vw;
        height: 50vh;
    }

    .container-skils{
        background-color: transparent;
        height: 60vh;
        width: 50vh;
        margin: 5vw;
    }
    .skils{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flexbox;
    }
    .espaco{
        width: 20vw;
        height: 5vh;
        background-color: transparent;
    }

}